<p id="notice"><%= notice %></p>

<h1>Links</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 -->
  <!-- tbody -->
    <% @links.each do |link| %>
      <ul>
        <li class="links">
        <span class="title"><%= link.title %></span>
        <span class="url"><%= link.url %></span>
        <span class="actions"><%= link_to 'Show', link %></span>
        
        <% if link.user == current_user %>
        <span class="action"><%= link_to image_tag("edit.png"), edit_link_path(link) %></span>
        <span class="action"><%= link_to image_tag("trash.png"), link, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </li>
      </ul>
    <% end %>
<!--   </tbody>
</table> -->